UPLOADING CSV DATA

In [1]:
import pandas as pd

data = pd.read_csv("aug_train.csv")

In [ ]:
data = pd.read_csv("aug_train.csv")

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42,1.0
19154,31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,1.0
19155,24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,0.0
19156,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,NaN,<1,500-999,Pvt Ltd,2,97,0.0
19157,23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2,NaN,NaN,1,127,0.0

In [24]:
data = pd.read_csv("aug_train.csv", index_col='enrollee_id')
data

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
enrollee_id,,,,,,,,,,,,,
8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42,1.0
31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,1.0
24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,0.0
5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,NaN,<1,500-999,Pvt Ltd,2,97,0.0
23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2,NaN,NaN,1,127,0.0

In [26]:
#selecting required columns only
data = pd.read_csv("aug_train.csv", index_col='enrollee_id', usecols=['enrollee_id', 'gender', 'education_level'], nrows=100) 
# only hundred rows will come
data

            gender education_level
enrollee_id
8949          Male        Graduate
29725         Male        Graduate
11561          NaN        Graduate
33241          NaN        Graduate
666           Male         Masters
...            ...             ...
12081         Male        Graduate
7364           NaN     High School
11184          NaN        Graduate
7016          Male        Graduate
8695          Male        Graduate

[100 rows x 2 columns]

In [27]:
#to skip the bad lines
#error_bad_lines=False

In [28]:
data = pd.read_csv("aug_train.csv", index_col='enrollee_id')
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19158 entries, 8949 to 23834
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    19158 non-null  object
 1   city_development_index  19158 non-null  float64
 2   gender                  14650 non-null  object
 3   relevent_experience     19158 non-null  object
 4   enrolled_university     18772 non-null  object
 5   education_level         18698 non-null  object
 6   major_discipline        16345 non-null  object
 7   experience              19093 non-null  object
 8   company_size            13220 non-null  object
 9   company_type            13018 non-null  object
 10  last_new_job            18735 non-null  object
 11  training_hours          19158 non-null  int64
 12  target                  19158 non-null  float64
dtypes: float64(2), int64(1), object(10)
memory usage: 2.0+ MB

In [36]:
data = pd.read_csv("aug_train.csv", index_col='enrollee_id',dtype={'target':int})
data.info()

#data type of target changed from float to integer

<class 'pandas.core.frame.DataFrame'>
Index: 19158 entries, 8949 to 23834
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    19158 non-null  object
 1   city_development_index  19158 non-null  float64
 2   gender                  14650 non-null  object
 3   relevent_experience     19158 non-null  object
 4   enrolled_university     18772 non-null  object
 5   education_level         18698 non-null  object
 6   major_discipline        16345 non-null  object
 7   experience              19093 non-null  object
 8   company_size            13220 non-null  object
 9   company_type            13018 non-null  object
 10  last_new_job            18735 non-null  object
 11  training_hours          19158 non-null  int64
 12  target                  19158 non-null  int32
dtypes: float64(1), int32(1), int64(1), object(10)
memory usage: 2.0+ MB

In [ ]:
#data = pd.read_csv("aug_train.csv", index_col='enrollee_id',parse_dates=['column name'])
#data.info()

#date type change from object to date

In [50]:
def rename(name):
    if name=="male" or "Male":
        return "M"
    elif name== None:
        return None
    else:
        return name

rename('male')

pd.read_csv("aug_train.csv",index_col='enrollee_id', converters={'gender':rename}, nrows=100, na_values=['Nan'])

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
enrollee_id,,,,,,,,,,,,,
8949,city_103,0.920,M,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
29725,city_40,0.776,M,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
11561,city_21,0.624,M,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
33241,city_115,0.789,M,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
666,city_162,0.767,M,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12081,city_65,0.802,M,Has relevent experience,Full time course,Graduate,STEM,9,50-99,Pvt Ltd,1,33,0.0
7364,city_160,0.920,M,No relevent experience,Full time course,High School,NaN,2,100-500,Pvt Ltd,1,142,0.0
11184,city_74,0.579,M,No relevent experience,Full time course,Graduate,STEM,2,100-500,Pvt Ltd,1,34,0.0
7016,city_65,0.802,M,Has relevent experience,no_enrollment,Graduate,STEM,6,50-99,Pvt Ltd,2,14,1.0
8695,city_11,0.550,M,Has relevent experience,no_enrollment,Graduate,STEM,6,10/49,Pvt Ltd,2,27,1.0

loading in chunks

In [53]:
dfs= pd.read_csv("aug_train.csv", chunksize=2000)

for chunk in dfs:
    print(chunk.shape)

(2000, 14)
(2000, 14)
(2000, 14)
(2000, 14)
(2000, 14)
(2000, 14)
(2000, 14)
(2000, 14)
(2000, 14)
(1158, 14)

In [ ]:
#opening the file from url

In [55]:
import requests
from io import StringIO

#use the raw data link
url="https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/refs/heads/main/day15%20-%20working%20with%20csv%20files/IPL%20Matches%202008-2020.csv"
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

pd.read_csv(data)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [ ]:
pd.read_csv("movie_titles_metadata.tsv", sep='\t')

#but no column name

,m0,10 things i hate about you,1999,6.90,62847,['comedy' 'romance']
0,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
1,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
2,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
3,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']
4,m5,the fifth element,1997,7.5,133756.0,['action' 'adventure' 'romance' 'sci-fi' 'thri...
...,...,...,...,...,...,...
611,m612,watchmen,2009,7.8,135229.0,['action' 'crime' 'fantasy' 'mystery' 'sci-fi'...
612,m613,xxx,2002,5.6,53505.0,['action' 'adventure' 'crime']
613,m614,x-men,2000,7.4,122149.0,['action' 'sci-fi']
614,m615,young frankenstein,1974,8.0,57618.0,['comedy' 'sci-fi']
615,m616,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war']

In [59]:
df=pd.read_csv("movie_titles_metadata.tsv", sep='\t', names=['sno','name', 'release_year', 'votes', 'genres'])
df

,sno,name,release_year,votes,genres
m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance']
m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']
...,...,...,...,...,...
m612,watchmen,2009,7.8,135229.0,['action' 'crime' 'fantasy' 'mystery' 'sci-fi'...
m613,xxx,2002,5.6,53505.0,['action' 'adventure' 'crime']
m614,x-men,2000,7.4,122149.0,['action' 'sci-fi']
m615,young frankenstein,1974,8.0,57618.0,['comedy' 'sci-fi']
m616,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war']

UPLOADING JSON DATA

In [63]:
pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

SQL DATA UPLOADING

In [65]:
pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\ggaur\appdata\local\programs\python\python312\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [67]:
import mysql.connector

In [70]:
#conn = mysql.connector.connect(host='localhost', user='root', password='', database='world')
#pd.read_sql_query("select * from county", conn)

DATA FROM APIs - application programm interface

In [73]:
response=requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=75f8e6a28b4b10c6d8ff27a9008356d5&language=en-US&page=1')

In [93]:
pd.DataFrame(response.json()['results'])

,adult,backdrop_path,genre_ids,id,origin_country,original_language,original_name,overview,popularity,poster_path,first_air_date,name,vote_average,vote_count
0,False,/9faGSFi5jam6pDWGNd0p8JcJgXQ.jpg,"[18, 80]",1396,[US],en,Breaking Bad,"Walter White, a New Mexico chemistry teacher, ...",114.8609,/ztkUQFLlC19CCMYHW9o1zWhJRNq.jpg,2008-01-20,Breaking Bad,8.926,15551
1,False,/5yk3QwnQxzwKfhU1tlDkV2PSIBz.jpg,[18],219246,[KR],ko,폭싹 속았수다,"In Jeju, a spirited girl and a steadfast boy's...",55.6580,/q29q6AByug53pnylCytwLA7m6AY.jpg,2025-03-07,When Life Gives You Tangerines,8.889,270
2,False,/96RT2A47UdzWlUfvIERFyBsLhL2.jpg,"[16, 10759, 10765, 18]",209867,[JP],ja,葬送のフリーレン,After the party of heroes defeated the Demon K...,24.1477,/dqZENchTd7lp5zht7BdlqM7RBhD.jpg,2023-09-29,Frieren: Beyond Journey's End,8.800,435
3,False,/wQEW3xLrQAThu1GvqpsKQyejrYS.jpg,"[16, 10765, 18, 10759]",94605,[US],en,Arcane,Amid the stark discord of twin cities Piltover...,29.6846,/abf8tHznhSvl9BAElD2cQeRr7do.jpg,2021-11-06,Arcane,8.775,5128
4,False,/7BzmK4MWc0cj4hCxwWURt6TS6UR.jpg,"[16, 10765, 10759, 35]",131378,[US],en,Adventure Time: Fionna & Cake,Fionna and Cake – with the help of the former ...,11.3624,/fi1b6U1kp73xheECzqwzMn8u3mX.jpg,2023-08-31,Adventure Time: Fionna & Cake,8.800,232
5,False,/kU98MbVVgi72wzceyrEbClZmMFe.jpg,"[16, 10759, 10765]",246,[US],en,Avatar: The Last Airbender,"In a war-torn world of elemental magic, a youn...",28.8704,/v2vn1coUMPKw0GI1KGC5J4IXtqp.jpg,2005-02-21,Avatar: The Last Airbender,8.700,4341
6,False,/tuCU2yVRM2iZxFkpqlPUyvd6tSu.jpg,"[16, 35, 10765, 10759]",94954,[US],en,Hazbin Hotel,In attempt to find a non-violent alternative f...,25.3217,/rXojaQcxVUubPLSrFV8PD4xdjrs.jpg,2024-01-18,Hazbin Hotel,8.725,1275
7,False,/2rmK7mnchw9Xr3XdiTFSxTTLXqv.jpg,"[10759, 35, 16]",37854,[JP],ja,ワンピース,"Years ago, the fearsome Pirate King, Gol D. Ro...",59.8706,/cMD9Ygz11zjJzAovURpO75Qg7rT.jpg,1999-10-20,One Piece,8.722,4873
8,False,/A6tMQAo6t6eRFCPhsrShmxZLqFB.jpg,"[10759, 16, 10765, 35]",31911,[JP],ja,鋼の錬金術師 FULLMETAL ALCHEMIST,Disregard for alchemy’s laws ripped half of Ed...,17.1482,/5ZFUEOULaVml7pQuXxhpR2SmVUw.jpg,2009-04-05,Fullmetal Alchemist: Brotherhood,8.696,2180
9,False,/rBF8wVQN8hTWHspVZBlI3h7HZJ.jpg,"[16, 35, 10765, 10759]",60625,[US],en,Rick and Morty,Rick is a mentally-unbalanced but scientifical...,109.6266,/WGRQ8FpjkDTzivQJ43t94bOuY0.jpg,2013-12-02,Rick and Morty,8.689,10147
10,False,/hPea3Qy5Gd6z4kJLUruBbwAH8Rm.jpg,"[80, 18]",60059,[US],en,Better Call Saul,Six years before Saul Goodman meets Walter Whi...,63.0519,/zjg4jpK1Wp2kiRvtt5ND0kznako.jpg,2015-02-08,Better Call Saul,8.688,5642
11,False,/900tHlUYUkp7Ol04XFSoAaEIXcT.jpg,[18],87108,[US],en,Chernobyl,The true story of one of the worst man-made ca...,25.9143,/hlLXt2tOPT6RRnjiUmoxyG1LTFi.jpg,2019-05-06,Chernobyl,8.684,6837
12,False,/aok7IhrbA83josNz9Dqh8tNA0Ao.jpg,"[16, 10765, 10759]",1429,[JP],ja,進撃の巨人,"Many years ago, the last remnants of humanity ...",25.1775,/hTP1DtLGFamjfu8WqjnuQdP1n4i.jpg,2013-04-07,Attack on Titan,8.666,6758
13,False,/jlbUx0aHJupDVDlCo0R7UxSaUUd.jpg,"[16, 10759, 35, 10765]",240411,[JP],ja,ダンダダン,In a bet to prove whether ghosts or aliens exi...,18.1628,/6qfZAOEUFIrbUH3JvePclx1nXzz.jpg,2024-10-04,Dan Da Dan,8.654,487
14,False,/mGHrUSt2uA5RaIheSmBfRnRHPS8.jpg,"[16, 10765, 18, 10759, 35, 10762]",92685,[US],en,The Owl House,An animated fantasy-comedy series that follows...,28.9812,/zqjSex7DZn7p4dU7mMktdJ8zQV5.jpg,2020-01-10,The Owl House,8.657,1667
15,False,/ywQtHG17LZhAFZyZtBflhtFMtJ7.jpg,"[18, 10751]",70785,[CA],en,Anne with an E,"A coming-of-age story about an outsider who, a...",22.9237,/6P6tXhjT5tK3qOXzxF9OMLlG7iz.jpg,2017-03-19,Anne with an E,8.700,4743
16,False,/2w8FaLwwJTWr6ExUMeVgT2Th5YT.jpg,"[16, 35, 18, 10759]",42705,[JP],ja,はじめの一歩,Makunouchi Ippo is an ordinary high school stu...,37.0653,/1LApB9C9kEkh2ZU2vzAhurNDipl.jpg,2000-10-03,Fighting Spirit,8.700,1113
17,False,/6U0e6OHklJAcMAuIoGXjTBS5zsI.jpg,"[16, 10759, 10765]",46298,[JP],ja,HUNTER×HUNTER,To fulfill his dreams of becoming a legendary ...,59.7397,/i2EEr2uBvRlAwJ8d8zTG2Y19mIa.jpg,2011-10-02,Hunter x Hunter,8.700,1869
18,False,/gffVOVZ2Y9cmVIZ26Gt9ByMGCYH.jpg,"[16, 18, 9648]",220542,[JP],ja,薬屋のひとりごと,Maomao lived a peaceful life with her apotheca...,70.9597,/e3ojpANrFnmJCyeBNTinYwyBCIN.jpg,2023-10-22,The Apothecary Diaries,8.652,333
19,False,/cttisz5q4LHwyRYlIj9S7oQa27v.jpg,"[16, 35, 10765]",62741,[JP],ja,神様はじめました,Nanami was just a normal high school girl down...,10.7527,/5E7GL8KxpFemEFl3Lv8Fu4RuSwa.jpg,2012-10-02,Kamisama Kiss,8.700,945

In [ ]:
import pandas as pd
data=pd.DataFrame()
for i in range(1,429):
    response=requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=75f8e6a28b4b10c6d8ff27a9008356d5&language=en-US&page={}'.format(i))
    temp=(pd.DataFrame(response.json()['results']))
    data=data.append(temp, ignore_index=True)

WEB SCRAPPING

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

requests.get('https://www.ambitionbox.com/list-of-companies?page=1').text
#not giving access

'<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access Denied</H1>\n \nYou don\'t have permission to access "http&#58;&#47;&#47;www&#46;ambitionbox&#46;com&#47;list&#45;of&#45;companies&#63;" on this server.<P>\nReference&#32;&#35;18&#46;267056b8&#46;1747854336&#46;3282c7e2\n<P>https&#58;&#47;&#47;errors&#46;edgesuite&#46;net&#47;18&#46;267056b8&#46;1747854336&#46;3282c7e2</P>\n</BODY>\n</HTML>\n'

In [15]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
requests.get('https://www.ambitionbox.com/list-of-companies?',headers=headers).text()

ConnectionError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))

In [16]:
import requests

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'
}

response = requests.get('https://www.ambitionbox.com/list-of-companies?', headers=headers)
response

ConnectionError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))